*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	background-color: black

a
	text-decoration: none

nav
	width: 100%
	ul
	background-color: #FEFEFE
	
	position: absolute
	border-radius: 1px
	li
	display: inline-block
	height: 50px
	line-height: 50px
	width: 300px

nav
	ul
		li
			ul
				margin-top: 20px
				li
					display: block
					display: none
					
					&:hover
						background-color: #F4F4F4
					img
						margin-left: 20px
						margin-right: 20px




nav
	li
		&:hover
			li
				display: block
				background-color: #FEFEFE

.home
	border-top-left-radius: 1px
	border-top-right-radius: 1px



.settings
	border-bottom-left-radius: 1px
	border-bottom-right-radius: 1px

				
